bank:
	/usr/local/dirvish
exclude:
	/media/
	/mnt/
	/net/
	/proc/
	/sys/
	/dev/shm
	/home/*/.gvfs
	/usr/local/backup/*/*/*.gz
	/usr/local/dirvish/*/*/tree/*
Runall:
	gaia hyperion eos mercury hercules
post-server:  echo DIRVISH_DEST, $DIRVISH_DEST, ${DIRVISH_DEST%/*/tree} latest | /usr/bin/logger -t test

rsync-options:
	-a
log: gzip
zxfer:		true
image-default: %Y-%m-%d-%a

branch-default: daily
expire-rule:
#       MIN HR    DOM   MON       DOW  STRFTIME_FMT
	*   *     1-7   *         0    +6 months
	*   *     15-21 *         1    +3 months
	*   *     *     *         *    +35 days
