<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
    <TITLE>
	<!--#exec cmd="hostname -s" -->
	MRTG Index Page
    </TITLE>
    <!-- Command line is easier to read using "View Page Properties" of your browser -->
    <!-- But not all browsers show that information. :-(                             -->
    <META NAME="Command-Line" CONTENT="/usr/bin/indexmaker mrtg.cfg">
    <META HTTP-EQUIV="Refresh" CONTENT="60">
    <META HTTP-EQUIV="Cache-Control" content="no-cache">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="Fri, 06 Jul 2007 20:22:14 GMT">
    <LINK HREF="/icons/favicon.ico" rel="shortcut icon" />
    
<style type="text/css">
<!--
/* commandline was: /usr/bin/indexmaker mrtg.cfg */
/* sorry, no style, just abusing this to place the commandline and pass validation */
-->
</style>
</HEAD>

<BODY bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">


<H1>
    MRTG Index Page for
    <!--#exec cmd="hostname -s" -->
</H1>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=10>
<tr>
<td><DIV><B>Traffic Analysis for eth0</B></DIV>
<DIV><A HREF="eth0.html"><IMG BORDER=1 ALT="eth0 Traffic Graph" SRC="eth0-day.png"></A><BR>
<SMALL><!--#flastmod file="eth0.html" --></SMALL></DIV>
</td>

<td><DIV><B>Traffic Analysis for eth1</B></DIV>
<DIV><A HREF="eth1.html"><IMG BORDER=1 ALT="eth1 Traffic Graph" SRC="eth1-day.png"></A><BR>
<SMALL><!--#flastmod file="eth1.html" --></SMALL></DIV>
</td>

</tr>

<tr>
<td><DIV><B>Load Average</B></DIV>
<DIV><A HREF="load.html"><IMG BORDER=1 ALT="Load Average Graph" SRC="load-day.png"></A><BR>
<SMALL><!--#flastmod file="load.html" --></SMALL></DIV>
</td>

<td><DIV><B>CPU Busy</B></DIV>
<DIV><A HREF="cpubusy.html"><IMG BORDER=1 ALT="CPU Busy Graph" SRC="cpubusy-day.png"></A><BR>
<SMALL><!--#flastmod file="cpubusy.html" --></SMALL></DIV>
</td>
</tr>

<tr>
<td><DIV><B>IO Wait</B></DIV>
<DIV><A HREF="cpuwait.html"><IMG BORDER=1 ALT="I/O Wait Graph" SRC="cpuwait-day.png"></A><BR>
<SMALL><!--#flastmod file="cpuwait.html" --></SMALL></DIV>
</td>

<td><DIV><B>CPU Kernel Load</B></DIV>
<DIV><A HREF="cpukernel.html"><IMG BORDER=1 ALT="CPU Kernel Graph" SRC="cpukernel-day.png"></A><BR>
<SMALL><!--#flastmod file="cpukernel.html" --></SMALL></DIV>
</td>
</tr>

<tr>

<td><DIV><B>CPU User Load</B></DIV>
<DIV><A HREF="cpuuser.html"><IMG BORDER=1 ALT="CPU User Graph" SRC="cpuuser-day.png"></A><BR>
<SMALL><!--#flastmod file="cpuuser.html" --></SMALL></DIV>
</td>

<td><DIV><B>Swap Activity</B></DIV>
<DIV><A HREF="swap.html"><IMG BORDER=1 ALT="Swap Activity Graph" SRC="swap-day.png"></A><BR>
<SMALL><!--#flastmod file="swap.html" --></SMALL></DIV>
</td>
</tr>

<tr>

<td><DIV><B>System Temperature</B></DIV>
<DIV><A HREF="system_temp.html"><IMG BORDER=1 ALT="System Temperature Graph" SRC="system_temp-day.png"></A><BR>
<SMALL><!--#flastmod file="system_temp.html" --></SMALL></DIV>
</td>

<td><DIV><B>Fan 2</B></DIV>
<DIV><A HREF="fan2.html"><IMG BORDER=1 ALT="Fan 2" SRC="fan2-day.png"></A><BR>
<SMALL><!--#flastmod file="fan2.html" --></SMALL></DIV>
</td>
</tr>

<tr>

<td><DIV><B>Fan 3</B></DIV>
<DIV><A HREF="fan3.html"><IMG BORDER=1 ALT="Fan 3" SRC="fan3-day.png"></A><BR>
<SMALL><!--#flastmod file="fan3.html" --></SMALL></DIV>
</td>

<td><DIV><B>Fan 4</B></DIV>
<DIV><A HREF="fan4.html"><IMG BORDER=1 ALT="Fan 4" SRC="fan4-day.png"></A><BR>
<SMALL><!--#flastmod file="fan4.html" --></SMALL></DIV>
</td>
</tr>

<tr>

<td><DIV><B>Fan 7</B></DIV>
<DIV><A HREF="fan7.html"><IMG BORDER=1 ALT="Fan 7" SRC="fan7-day.png"></A><BR>
<SMALL><!--#flastmod file="fan7.html" --></SMALL></DIV>
</td>

<td><DIV><B>Fan 8</B></DIV>
<DIV><A HREF="fan8.html"><IMG BORDER=1 ALT="Fan 8" SRC="fan8-day.png"></A><BR>
<SMALL><!--#flastmod file="fan8.html" --></SMALL></DIV>
</td>
</tr>

<tr>

<td><DIV><B>+3.3V</B></DIV>
<DIV><A HREF="+3.3v.html"><IMG BORDER=1 ALT="+3.3V" SRC="+3.3v-day.png"></A><BR>
<SMALL><!--#flastmod file="+3.3v.html" --></SMALL></DIV>
</td>

<td><DIV><B>+5V</B></DIV>
<DIV><A HREF="+5v.html"><IMG BORDER=1 ALT="+5V" SRC="+5v-day.png"></A><BR>
<SMALL><!--#flastmod file="+5v.html" --></SMALL></DIV>
</td>
</tr>

<tr>

<td><DIV><B>+12V</B></DIV>
<DIV><A HREF="+12v.html"><IMG BORDER=1 ALT="+12V" SRC="+12v-day.png"></A><BR>
<SMALL><!--#flastmod file="+12v.html" --></SMALL></DIV>
</td>

<td><DIV><B>-12V</B></DIV>
<DIV><A HREF="-12v.html"><IMG BORDER=1 ALT="-12V" SRC="-12v-day.png"></A><BR>
<SMALL><!--#flastmod file="-12v.html" --></SMALL></DIV>
</td>
</tr>

</TABLE>

<BR>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR>
    <TD WIDTH=63><A
    HREF="http://oss.oetiker.ch/mrtg/"><IMG
    BORDER=0 SRC="/icons/mrtg-l.png" WIDTH=63 HEIGHT=25 ALT="MRTG"></A></TD>
    <TD WIDTH=25><A
    HREF="http://oss.oetiker.ch/mrtg/"><IMG
    BORDER=0 SRC="/icons/mrtg-m.png" WIDTH=25 HEIGHT=25 ALT=""></A></TD>
    <TD WIDTH=388><A
    HREF="http://oss.oetiker.ch/mrtg/"><IMG
    BORDER=0 SRC="/icons/mrtg-r.png" WIDTH=388 HEIGHT=25
    ALT="Multi Router Traffic Grapher"></A></TD>
  </TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR VALIGN=top>
  <TD WIDTH=88 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  version 2.14.7</FONT></TD>
  <TD WIDTH=388 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  <A HREF="http://tobi.oetiker.ch/">Tobias Oetiker</A>
  <A HREF="mailto:tobi+mrtglink@oetiker.ch">&lt;tobi@oetiker.ch&gt;</A>
  and&nbsp;<A HREF="http://www.bungi.com/">Dave&nbsp;Rand</A>&nbsp;<A HREF="mailto:dlr@bungi.com">&lt;dlr@bungi.com&gt;</A></FONT>
  </TD>
</TR>
</TABLE>
</BODY>
</HTML>
