# Created by 
# /usr/bin/cfgmaker password@127.0.0.1



### Global Config Options
LoadMIBs: /usr/share/snmp/mibs/UCD-SNMP-MIB.txt
LoadMIBs: /usr/share/snmp/mibs/HOST-RESOURCES-MIB.txt

#  for UNIX
WorkDir: /usr/local/etc/apache2/pages/mrtg

#  or for NT
# WorkDir: c:\mrtgdata

### Global Defaults

#  to get bits instead of bytes and graphs growing to the right
# Options[_]: growright, bits

EnableIPv6:	no
Refresh:	300
Options[_]: growright
Target[eth0]: \eth0:xxx@127.0.0.1:
SetEnv[eth0]: MRTG_INT_IP="---.---.---.---" MRTG_INT_DESCR="eth0"
# 125000000 = 1GB max.
MaxBytes[eth0]: 125000000
Title[eth0]: eth0 Traffic Analysis
PageTop[eth0]: <H1>Traffic Analysis for eth0</H1><a href="index.shtml">(Return to main page)</a><br>
 <TABLE>
   <TR><TD>Description:</TD><TD>eth0  </TD></TR>
 </TABLE>
Options[eth0]: growright,bits

### Temperature sensors
Options[_]: growright,nopercent,gauge,noi,noinfo,nolegend,integer,nobanner
YLegend[_]: Temperature (C)
ShortLegend[_]: C
LegendO[_]: Temp :
YTics[_]: 10
#
Target[CPUTemp]: `cat /var/mrtg/sensors/xxx/CPU_Temp`
MaxBytes[CPUTemp]: 200
WithPeak[CPUTemp]: wm
Title[CPUTemp]:  CPU temperature
PageTop[CPUTemp]: <H1>CPU temperature</H1><a href="index.shtml">(Return to main page)</a><br>
#
Target[Temp3]: `cat /var/mrtg/sensors/xxx/Temp3`
MaxBytes[Temp3]: 200
WithPeak[Temp3]: wm
Title[Temp3]:  Sensor3 temperature
PageTop[Temp3]: <H1>Sensor3 temperature</H1><a href="index.shtml">(Return to main page)</a><br>
#
Target[MBTemp]: `cat /var/mrtg/sensors/xxx/M_B_Temp`
MaxBytes[MBTemp]: 200
WithPeak[MBTemp]: wm
Title[MBTemp]:  Motherboard temperature
PageTop[MBTemp]: <H1>Motherboard temperature</H1><a href="index.shtml">(Return to main page)</a><br>
#
#   Fans
#
YLegend[_]: RPMs
ShortLegend[_]: RPMs
LegendO[_]: RPMs :
#
#Target[fan1]: `cat /var/mrtg/sensors/xxx/fan1`
#MaxBytes[fan1]: 5000
#WithPeak[fan1]: wm
#Title[fan1]:  Fan 1
#PageTop[fan1]: <H1>Fan 1</H1><a href="index.shtml">(Return to main page)</a><br>
#
#Target[fan2]: `cat /var/mrtg/sensors/xxx/fan2`
#MaxBytes[fan2]: 5000
#WithPeak[fan2]: wm
#Title[fan2]:  Fan 2
#PageTop[fan2]: <H1>Fan 2</H1><a href="index.shtml">(Return to main page)</a><br>
#
Target[fan3]: `cat /var/mrtg/sensors/xxx/fan3`
MaxBytes[fan3]: 5000
WithPeak[fan3]: wm
Title[fan3]:  Fan 3
PageTop[fan3]: <H1>Fan 3</H1><a href="index.shtml">(Return to main page)</a><br>

#
Options[_]: growright,nopercent
MaxBytes[_]: 100
LegendO[_]: 
ShortLegend[_]: %
Unscaled[_]: ymwd
#
# Load Average
Target[load]: `uptime | sed 's/^.*load average://' | awk -F, '{print $1*100 "\n" $2*100 "\n1\n1\n"}'`
Title[load]: Load Average
YLegend[load]: Load Average
Legend1[load]: 1 minute average
Legend2[load]: 5 minute average
ShortLegend[load]: &nbsp;
PageTop[load]: <H1>Load Average</H1><a href="index.shtml">(Return to main page)</a><br>

#
# CPU Utilization
#
Options[_]: growright,nopercent
Max[Bytes[_]: 400
Unscaled[_]: ymwd
WithPeak[_]: ymw
LegendI[_]: %
YLegend2[_]: %
ShortLegend[_]:  %
#
#   Idle
Target[cpuidle]: ssCpuRawIdle.0&ssCpuRawIdle.0:xxx@127.0.0.1
Title[cpuidle]: CPU Idle Percent
YLegend[cpuidle]: CPU Idle
PageTop[cpuidle]: <H1>CPU Idle</H1><a href="index.shtml">(Return to main page)</a><br>
#
#   System
Target[cpukernel]: ssCpuRawSystem.0&ssCpuRawSystem.0:xxx@127.0.0.1
Title[cpukernel]: System CPU Percent
YLegend[cpukernel]: System CPU
PageTop[cpukernel]: <H1>System CPU</H1><a href="index.shtml">(Return to main page)</a><br>
#
#   User
Target[cpuuser]: ssCpuRawUser.0&ssCpuRawUser.0:xxx@127.0.0.1
Title[cpuuser]: User CPU Percent
YLegend[cpuuser]: User CPU
PageTop[cpuuser]: <H1>User CPU</H1><a href="index.shtml">(Return to main page)</a><br>
#
#   Wait
Target[cpuwait]: ssCpuRawWait.0&ssCpuRawWait.0:xxx@127.0.0.1
Title[cpuwait]: I/O Wait Percent
YLegend[cpuwait]: I/O Wait CPU
PageTop[cpuwait]: <H1>I/O Wait</H1><a href="index.shtml">(Return to main page)</a><br>
#
#   Nice
Target[cpuwait]: ssCpuRawNice.0&ssCpuRawWNice.0:xxx@127.0.0.1
Title[cpuwait]: Nice Percent
YLegend[cpuwait]: Nice CPU
#
#
MaxBytes[_]: 10000
ShortLegend[_]: count
#
#   Swap
Target[swap]: 1.3.6.1.4.1.2021.11.62.0&1.3.6.1.4.1.2021.11.63.0:xxx@127.0.0.1
Title[swap]: Swap Activity
YLegend[swap]: Swap Activity
PageTop[swap]: <H1>Swap Activity</H1><a href="index.shtml">(Return to main page)</a><br>
