# Created by 
# /usr/bin/cfgmaker password@127.0.0.1



### Global Config Options
LoadMIBs: /usr/share/mibs/netsnmp/UCD-SNMP-MIB
EnableSNMPv3: yes
#LoadMIBs: /usr/share/snmp/mibs/HOST-RESOURCES-MIB.txt

#  for UNIX
WorkDir: /usr/local/etc/apache2/pages/mrtg

#  or for NT
# WorkDir: c:\mrtgdata

### Global Defaults

#  to get bits instead of bytes and graphs growing to the right
# Options[_]: growright, bits

### Network
include: /usr/local/etc/mrtg/network.cfg

### Sensors
include: /usr/local/etc/mrtg/sensors.cfg

### Performance
include: /usr/local/etc/mrtg/performance.cfg
