Options[_]: growright,nopercent
LegendO[_]: 
ShortLegend[_]: %
Unscaled[_]: ymwd
MaxBytes[_]: 800
AbsMax[_]: 3200
YTics[_]: 10
#
# Load Average
PageTop[load]: <H1>Load Average</H1><a href="index.shtml">(Return to main page)</a><br>
Target[load]: laLoadInt.1&laLoadInt.2:PASSWORD@127.0.0.1
Options[load]: gauge,growright,unknaszero
Title[load]: Load Average
YLegend[load]: Processes
ShortLegend[load]: Procs
LegendI[load]: 1m average
LegendO[load]: 5m average
Factor[load]: 0.01
AbsMax[load]: 9900
YTicsFactor[load]: 0.01
YTics[load]: 8

#
# CPU Utilization
#
Options[_]: growright,nopercent
WithPeak[_]: ymw
LegendI[_]: %
ShortLegend[_]:  %
#
#   Idle
Target[cpuidle]: ssCpuRawIdle.0&ssCpuRawIdle.0:PASSWORD@127.0.0.1
Title[cpuidle]: CPU Idle Percent
YLegend[cpuidle]: % CPU Idle 
PageTop[cpuidle]: <H1>CPU Idle</H1><a href="index.shtml">(Return to main page)</a><br>
#
#   System
Target[cpukernel]: ssCpuRawSystem.0&ssCpuRawSystem.0:PASSWORD@127.0.0.1
Title[cpukernel]: System CPU Percent
YLegend[cpukernel]: % System CPU
PageTop[cpukernel]: <H1>System CPU</H1><a href="index.shtml">(Return to main page)</a><br>
#
#   User
Target[cpuuser]: ssCpuRawUser.0&ssCpuRawUser.0:PASSWORD@127.0.0.1
Title[cpuuser]: User CPU Percent
YLegend[cpuuser]: % User CPU
PageTop[cpuuser]: <H1>User CPU</H1><a href="index.shtml">(Return to main page)</a><br>
#
#   Wait
Target[cpuwait]: ssCpuRawWait.0&ssCpuRawWait.0:PASSWORD@127.0.0.1
Title[cpuwait]: I/O Wait Percent
YLegend[cpuwait]: % I/O Wait CPU
PageTop[cpuwait]: <H1>I/O Wait</H1><a href="index.shtml">(Return to main page)</a><br>
#
#   Nice
Target[cpunice]: ssCpuRawNice.0&ssCpuRawNice.0:PASSWORD@127.0.0.1
Title[cpunice]: Nice Percent
YLegend[cpunice]: % Nice CPU
PageTop[cpunice]: <H1>CPU Nice</H1><a href="index.shtml">(Return to main page)</a><br>
#
#
MaxBytes[_]: 10000
ShortLegend[_]: count
#
#   Swap
Target[swap]: 1.3.6.1.4.1.2021.11.62.0&1.3.6.1.4.1.2021.11.63.0:PASSWORD@127.0.0.1
Title[swap]: Swap Activity
YLegend[swap]: Swap Activity
PageTop[swap]: <H1>Swap Activity</H1><a href="index.shtml">(Return to main page)</a><br>
