canonical_maps = hash:/usr/local/etc/postfix/canonical
inet_interfaces = loopback-only
mydestination =
myhostname = host.example.com
mydomain = example.com
myorigin = $mydomain
smtpd_banner = ESMTP ready
