heading Basic networking
TCPPort	Target=www.ibm.com:80,www.tri-met.org:80,www.amazon.com:80) Desc="External network"
TCPPort	Target=alpha:22,beta:22,gamma:139 Desc="Internal network"

heading External services
TCPPort	Target=mail.example.com:25 Desc="external mail (25)"
TCPPort	Target=www.example.com:80 Desc="external http (80)"
TCPPort	Target=www.example.com:443 Desc="external https (443)"
TCPPort	Target=mail.example.com:993 Desc="external IMAPS (993)"
TCPPort	Target=vpn.example.com:2022 Desc="external ssh (2022)"

heading Internal services
TCPPort	Target=alpha:22 Desc="alpha (22)"
TCPPort	Target=ssh.example.com:22 Desc="enternal ssh (22)"

heading Cleo local services
TCPPort	Target=localhost:25 Desc="postfix (25)"
TCPPort	Target=localhost:80 Desc="apache (80)"
TCPPort	Target=localhost:631 Desc="cups (631)"
TCPPort	Target=localhost:199 Desc="snmpd (199)"
TCPPort	Target=localhost:445 Desc="smb (445)"
TCPPort	Target=dhcpserver:520 Desc="dhcpd (520)"
