#
# checkall.list - list of services to monitor.
#
# Syntax:
#    -Basic syntax: monitor-type parameters
#    -Continuation lines are identified by leading white space.
#    -Comments begin with # and are ignored, even within continued lines.
#    -Blank lines are ignored.
#    -Monitor-type is case-insensitive.  Otherwise most fields are case sensitive.
#    -Most parameters are split on spaces.  Use quoting or \ escapes to preserve spaces.
#    -For most monitor-types, parameters are of the format "key=value" or
#     "key=value,value,value..." where multiple values are allowed.
#    -Current monitor types:
#	- heading: Format: "heading text".  Displays this line as is.
#       - include: Format: "include filename".  Includes another file at this point.
#       - tcpport: Format: "tcpport parameters".  Checks one or more TCP ports.  This
#	  test is considered successful if any of the TCP ports can connect.
#	  Valid parameters:
#	    - Target: TCP hosts and ports to check.  "Format: target=host:port[,host:port...]
#	    - Desc: Descriptive text for status reprot.  Format: Desc="text"
#	    - OnUp: Command to issue when this service comes up. OnUp="command".
#           - OnDown: Command to issue when this service goes down.  OnUp="command".
#           - Name: Unique name.  Defaults to value of Desc.  Used to keep track of statuses
#	      across runs.
#       - process: Format: "process parameters".  Checks running processes.
#	  Valid parameters:
#	    - Target: Perl regular expression to match against ps -eo cmd.
#             Example: process Desc=Postfix Target="/smtpd -n smtp/"

heading Basic networking
TCPPort	Target=www.ibm.com:80,www.tri-met.org:80,www.amazon.com:80) Desc="External network"
TCPPort	Target=alpha:22,beta:22,gamma:139 Desc="Internal network"

heading External services
TCPPort	Target=mail.example.com:25 Desc="external mail (25)"
TCPPort	Target=www.example.com:80 Desc="external http (80)"
TCPPort	Target=www.example.com:443 Desc="external https (443)"
TCPPort	Target=mail.example.com:993 Desc="external IMAPS (993)"
TCPPort	Target=vpn.example.com:2022 Desc="external ssh (2022)"

heading Internal services
TCPPort	Target=alpha:22 Desc="alpha (22)"
TCPPort	Target=ssh.example.com:22 Desc="enternal ssh (22)"

heading Cleo local services
TCPPort	Target=localhost:25 Desc="postfix (25)"
TCPPort	Target=localhost:80 Desc="apache (80)"
TCPPort	Target=localhost:631 Desc="cups (631)"
TCPPort	Target=localhost:199 Desc="snmpd (199)"
TCPPort	Target=localhost:445 Desc="smb (445)"
TCPPort	Target=dhcpserver:520 Desc="dhcpd (520)"
