# hostcfg - customize cloned host at boot-up.
#
# Record types:
#  mac - determine the host's name based on the MAC addresses
#        found on its network cards.  The first match wins.
#        Example:
#		mac:		00:30:48:B8:79:36	svr9
#        On boot-up, if we have a NIC with that MAC address, the 
#        host name will be set to svr9.
#  service - set a service (init.d item) to come up or stay
#        down based on the host name.  If the host name 
#        matches one of the comma-separated list of host names,
#        the service marked to come up.  Otherwise it will be
#        marked to stay down.  chkconfig is used to set up/down.
#        This can also be tested on a running system using -c.
#        For example, one might want to run command "xyz" in crontab,
#        but only for the system that is running Samba.  The crontab
#        entry could have "/usr/local/sbin/hostcfg -c smb && xyz". 
#        Example:
#	        service:	smb		svr9
#        On boot-up, if our host name is svr9, "chkconfig -s smb on"
#        will be executed to bring up smb later in the boot sequence.
#        Otherwise, "chkconfig -s smb off" will be set to leave it down.
#  attrib - set a server attribute.  Same as service, except no 
#        call is made to chkconfig.  This is for non-boot items that
#        still need the -c functionality.  For example, of two cloned
#        systems, one might be designated to run a network monitoring
#        script every hour.  There's nothing to do at boot time, but
#        one still wants to use -c in the crontab.
#	 Example:
#		attrib:		dirvish		svr10,svr11
#        Nothing will happen at boot-up, because dirvish doesn't have
#        anything to do at boot time (no set-up, no daemon).  However,
#        crontab entries or other tasks can use -c to determine if this
#        system runs dirivsh.  On svr10 and svr11, "hostcfg -c dirvish"
#        will return a true value.  On all other systems it will return
#        false.
mac:		00:30:48:B8:79:37	svr9
mac:		FE:9D:67:5F:A8:B0	svr9
mac:		00:30:48:D3:8D:76  	svr10
mac:		00:30:48:D3:8D:77  	svr10
service:	smb		svr10
service:	nmb		svr10
service:	dovecot		svr10
service:	openvpn		svr10
service:	elogd		svr10
service:	named		svr9,svr10
service:	xend		svr10
service:	xendomains	svr10
attrib:		dirvish		svr10
