# IPTables configuration data.
#
# Basic architechure:
#	eth0 is the 0utside network
#	eth1 is the 1nside network
#

ifconfig eth0 | grep -q 00:50:BA:4C:FA:E5 || exit 8  #Eth0 has incorrect MAC
ifconfig eth1 | grep -q 00:20:78:11:32:75 || exit 8  #Eth1 has incorrect MAC

/sbin/depmod -a
/sbin/lsmod | /bin/grep -q ipchains && /sbin/rmmod ipchains || /bin/cat /dev/null
/sbin/modprobe ip_tables
/sbin/modprobe ip_conntrack_ftp
/sbin/modprobe ip_conntrack_irc
/sbin/modprobe ip_nat_ftp

# Do NAT for outbound traffic.
iptables -A POSTROUTING -t nat -s 192.168.xxx.0/16 -j SNAT --to-source 172.27.1.2

### Add hook for squid.
##iptables -t nat -A PREROUTING -i eth1 -p tcp --destination-port 80 -j REDIRECT --to-ports 3128

iptables -t filter -P INPUT DROP
iptables -P FORWARD DROP
iptables -P OUTPUT ACCEPT
iptables -F
iptables -X
iptables -N IntToFW
iptables -N IntToExt
iptables -N ExtToFW
iptables -N AbuseCheck
iptables -N FromFW
iptables -N LogDrop
iptables -N LogAccept
iptables -N LogReject
iptables -N LogSyn
#
#
# Input chains -------------------------------------------------------------
#
#
iptables -F INPUT
#iptables -A INPUT -j LOG --log-prefix "IN-debug:"
#    Reject anything external from non-routed IP addresses.
iptables -A INPUT    -i eth0 -s 127.0.0.0/8 -p all      -j LogReject
iptables -A INPUT    -i eth0 -s 10.0.0.0/8 -p all       -j LogReject
iptables -A INPUT    -i eth0 -s 172.16.0.0/12 -p all    -j LogReject
iptables -A INPUT    -i eth0 -s 192.168.xxx.0/16 -p all   -j LogReject
#    Reject anything internal that's not from a valid address
iptables -A INPUT    -i eth1 -s ! 192.168.xxx.0/16 -p all	-j LogReject
#    Accept anything from us to us.
iptables -A INPUT    -i lo				-j ACCEPT
#    Dump malformed packets from NMAP
iptables -A INPUT -p tcp --tcp-flags ALL ALL		-j LogDrop
iptables -A INPUT -p tcp --tcp-flags ALL NONE		-j LogDrop
#    Determine which subset this access belongs to.
iptables -A INPUT -i eth1 -p all            		-j IntToFW
iptables -A INPUT -i ! eth1 -p all          		-j ExtToFW
iptables -A INPUT                                       -j LogReject
#
#
# Input chains for internal connections to the firewall  -----------------------
#
#
#    Allow ongoing conversations
iptables -A IntToFW    -p udp -m state --state ESTABLISHED,RELATED -j ACCEPT
iptables -A IntToFW    -p tcp -m state --state ESTABLISHED,RELATED -j ACCEPT
#    Allow all icmp traffic from inside.
iptables -A IntToFW    -p icmp                -j ACCEPT
###    Reject Samba traffic without logging to keep the log clear of SMB traffic.
##iptables -A IntToFW    -p tcp --destination-port 137       -j REJECT
##iptables -A IntToFW    -p udp --destination-port 137       -j REJECT
##iptables -A IntToFW    -p tcp --destination-port 138       -j REJECT
##iptables -A IntToFW    -p udp --destination-port 138       -j REJECT
##                   -- OR --
###    Accept Samba traffic
##iptables -A IntToFW    -p tcp --destination-port 137       -j ACCEPT
##iptables -A IntToFW    -p udp --destination-port 137       -j ACCEPT
##iptables -A IntToFW    -p tcp --destination-port 138       -j ACCEPT
##iptables -A IntToFW    -p udp --destination-port 138       -j ACCEPT
##iptables -A IntToFW    -p tcp --destination-port 139       -j ACCEPT
##iptables -A IntToFW    -p udp --destination-port 139       -j ACCEPT
##iptables -A IntToFW    -p tcp --destination-port 445       -j ACCEPT
##iptables -A IntToFW    -p udp --destination-port 445       -j ACCEPT
#    Allow ssh, smtp, http, https, pop, imap, popssl, and imapssl
iptables -A IntToFW    -p tcp --destination-port ssh	   -j ACCEPT
iptables -A IntToFW    -p tcp --destination-port smtp	   -j ACCEPT
iptables -A IntToFW    -p tcp --destination-port domain    -j ACCEPT
iptables -A IntToFW    -p udp --destination-port domain    -j ACCEPT
##iptables -A IntToFW    -p tcp --destination-port bootps    -j ACCEPT
##iptables -A IntToFW    -p udp --destination-port bootps    -j ACCEPT
iptables -A IntToFW    -p tcp --destination-port http      -j ACCEPT
iptables -A IntToFW    -p udp --destination-port http      -j ACCEPT
iptables -A IntToFW    -p tcp --destination-port pop3      -j ACCEPT
iptables -A IntToFW    -p udp --destination-port pop3      -j ACCEPT
iptables -A IntToFW    -p tcp --destination-port auth      -j ACCEPT
iptables -A IntToFW    -p tcp --destination-port imap2     -j ACCEPT
iptables -A IntToFW    -p udp --destination-port imap2     -j ACCEPT
iptables -A IntToFW    -p tcp --destination-port imap3     -j ACCEPT
iptables -A IntToFW    -p udp --destination-port imap3     -j ACCEPT
iptables -A IntToFW    -p tcp --destination-port https     -j ACCEPT
iptables -A IntToFW    -p tcp --destination-port imaps     -j ACCEPT
iptables -A IntToFW    -p tcp --destination-port pop3s     -j ACCEPT
iptables -A IntToFW    -p tcp --destination-port ftp       -j ACCEPT
iptables -A IntToFW    -p tcp --destination-port ftp-data  -j ACCEPT
iptables -A IntToFW    -p tcp --destination-port ntp       -j ACCEPT
iptables -A IntToFW    -p udp --destination-port ntp       -j ACCEPT
### Allow squid.
##iptables -A IntToFW    -p tcp --destination-port 3128      -j ACCEPT
#
#
#
# Input chains for external connections to the firewall  -----------------------
#
#    Allow ongoing conversations
iptables -A ExtToFW    -p udp -m state --state ESTABLISHED,RELATED -j ACCEPT
iptables -A ExtToFW    -p tcp -m state --state ESTABLISHED,RELATED -j ACCEPT
iptables -A ExtToFW    -p icmp -m state --state ESTABLISHED,RELATED -j ACCEPT
#
#    Allow most icmp traffic, but not time queries or redirects
iptables -A ExtToFW    -p icmp --icmp-type timestamp-request	-j LogReject
iptables -A ExtToFW    -p icmp --icmp-type timestamp-reply	-j LogReject
iptables -A ExtToFW    -p icmp --icmp-type redirect		-j LogReject
iptables -A ExtToFW    -p icmp 					-j ACCEPT
#
#    Reject these quietly, to keep down the noise in the log.
iptables -A ExtToFW -p tcp --destination-port 137 -j REJECT
iptables -A ExtToFW -p udp --destination-port 137 -j REJECT
#
#    Allow ssh, dns, smtp from anywhere.
iptables -A ExtToFW    -p tcp --destination-port ssh    -j ACCEPT 
iptables -A ExtToFW    -p tcp --destination-port smtp    -j ACCEPT
iptables -A ExtToFW    -p tcp --destination-port http    -j ACCEPT
iptables -A ExtToFW    -p tcp --destination-port https    -j ACCEPT
# Let our timeserver sources talk to us.
#	time-a.nist.gov has address 129.6.15.28
#	time-b.nist.gov has address 129.6.15.29
#	time.nist.gov has address 192.43.244.18
iptables -A ExtToFW    -p tcp -s 129.6.15.28  --destination-port ntp    -j ACCEPT
iptables -A ExtToFW    -p udp -s 129.6.15.28  --destination-port ntp    -j ACCEPT
iptables -A ExtToFW    -p tcp -s 129.6.15.29  --destination-port ntp    -j ACCEPT
iptables -A ExtToFW    -p udp -s 129.6.15.29  --destination-port ntp    -j ACCEPT
iptables -A ExtToFW    -p tcp -s 192.43.244.18 --destination-port ntp    -j ACCEPT
iptables -A ExtToFW    -p udp -s 192.43.244.18 --destination-port ntp    -j ACCEPT
iptables -A ExtToFW    -p tcp -s 131.216.18.4  --destination-port ntp    -j ACCEPT
iptables -A ExtToFW    -p udp -s 131.216.18.4  --destination-port ntp    -j ACCEPT
iptables -A ExtToFW    -p tcp -s 140.142.16.34 --destination-port ntp    -j ACCEPT
iptables -A ExtToFW    -p udp -s 140.142.16.34 --destination-port ntp    -j ACCEPT
iptables -A ExtToFW    -p tcp -s 164.67.62.194 --destination-port ntp    -j ACCEPT
iptables -A ExtToFW    -p udp -s 164.67.62.194 --destination-port ntp    -j ACCEPT
iptables -A ExtToFW                -j LogReject
#
#
# Output chains ------------------------------------------------------------
#
#
# Prevent ipop3d from waiting 30 seconds for IDENT request
iptables -A OUTPUT	-o eth1 -p tcp -d 192.168.xxx.0/16 --destination-port 113 -j REJECT
#
#
# Forward chains ------------------------------------------------------------
#
#
iptables -F FORWARD
#    Allow ongoing conversations
#iptables -A FORWARD -j LOG --log-prefix "FW-debug:"
iptables -A FORWARD    -i eth0 -s 127.0.0.0/8 -p all      -j LogReject
iptables -A FORWARD    -i eth0 -s 10.0.0.0/8 -p all       -j LogReject
iptables -A FORWARD    -i eth0 -s 172.16.0.0/12 -p all    -j LogReject
iptables -A FORWARD    -i eth0 -s 192.168.xxx.0/16 -p all   -j LogReject
iptables -A FORWARD    -p udp -m state --state ESTABLISHED,RELATED -j ACCEPT
iptables -A FORWARD    -p tcp -m state --state ESTABLISHED,RELATED -j ACCEPT
iptables -A FORWARD    -p icmp -m state --state ESTABLISHED,RELATED -j ACCEPT
# Reject certain malformed packets used by NMAP.
iptables -A FORWARD -p tcp --tcp-flags ALL ALL -j LogDrop
iptables -A FORWARD -p tcp --tcp-flags ALL NONE -j LogDrop
iptables -A FORWARD -p tcp --tcp-flags SYN,FIN SYN,FIN -j LogDrop
# Check outbound calls to make sure they're are to an accepted service.
iptables -A FORWARD -s 192.168.xxx.0/16 -d ! 192.168.xxx.0/16 -p all    -j IntToExt
# Check inbound calls to make sure they are part of an existing conversation.
iptables -A FORWARD -s ! 192.168.xxx.0/16 -d 192.168.xxx.0/16 -p tcp -m state --state ESTABLISHED,RELATED -j ACCEPT
# Reject anything else.
iptables -A FORWARD -j LogReject
#
#
#
# Forward chains for internal connections to the outside world  -------------
#
#
#    Allow all icmp traffic from inside.
iptables -A IntToExt    -p icmp            -j LogSyn
#
#    Allow ssh, smtp, http, https, dns, ftp, realaudio, telnet.
iptables -A IntToExt    -p icmp 			    -j ACCEPT
iptables -A IntToExt    -p tcp --destination-port ssh       -j LogSyn
iptables -A IntToExt    -p tcp --destination-port smtp      -j ACCEPT
iptables -A IntToExt    -p tcp --destination-port domain    -j ACCEPT
iptables -A IntToExt    -p udp --destination-port domain    -j ACCEPT
iptables -A IntToExt    -p tcp --destination-port http      -j ACCEPT
iptables -A IntToExt    -p tcp --destination-port pop3      -j LogSyn
iptables -A IntToExt    -p tcp --destination-port imap2     -j LogSyn
iptables -A IntToExt    -p tcp --destination-port imap3     -j LogSyn
iptables -A IntToExt    -p tcp --destination-port https     -j ACCEPT
iptables -A IntToExt    -p tcp --destination-port ftp       -j LogSyn
iptables -A IntToExt    -p tcp --destination-port ftp-data  -j LogSyn
# Drop anything else.
iptables -A IntToExt    				-j LogReject
#
#
# Input chains for firewall connections to anywhere  ----------------------
#
#
#    Anything else, just accept as is.
iptables -A FromFW                        -j ACCEPT
#
#
# LogReject - log it, then reject it.
#
#
iptables -A LogReject    -j LOG --log-prefix "Reject:"
iptables -A LogReject    -j REJECT
#
#
# LogDrop - log it, then drop it.
#
#
iptables -A LogDrop    -j LOG --log-prefix "Drop:"
iptables -A LogDrop    -j DROP
#
#
# LogAccept - log it, then accept it.
#
#
iptables -A LogAccept    -j LOG --log-prefix "Accept:"
iptables -A LogAccept    -j ACCEPT
#
#
# LogSYN - log syns to track who we're connecting to, then accept it.
#
#
iptables -A LogSyn    -p tcp --syn -j LOG --log-prefix "SynAccept:"
iptables -A LogSyn    -j ACCEPT

echo 1 > /proc/sys/net/ipv4/ip_forward
