#! /bin/bash 

# Update offsite config files at the beginning of each run.  Offsite disks
# are normally offsite, making it difficult to maintain their dirvish
# config files manually.

# Document which disk we're using.

ls /mnt/dirvish/offsite*/disk.* 2> /dev/null |
        while read name
        do
                id=${name##*/disk.}
                dir=${name%/*}
                mount=`mount | grep "on $dir " | sed 's/ .*$//'`
		serial=`smartctl -i $mount 2> /dev/null | grep -i '^Serial number' | sed 's/  */ /g'`
		if [[ "$serial" = Serial\ Number:* ]]
		then
			serial=", serial number ${serial#Serial Number: }"
		else
			serial=""
                fi
                echo "Running offsite back-ups to disk #${id}$serial"
                cp -rp /usr/local/etc/dirvish/offsite.d/* $dir
		chmod o= $dir
        done
exit 0
