#! /bin/sh 
#
### BEGIN INIT INFO
# Provides: iptables
# Required-Start: $network
# Required-Stop: $network 
# Default-Start: 3 5
# Default-Stop: 0 1 2 6
# Description: Load local IPTables/Netfilter rules
### END INIT INFO
BIN=/usr/local/sbin/load-iptables
test -x $BIN || exit 5

. /etc/rc.status

flushall()
{
	chains=`cat /proc/net/ip_tables_names 2>/dev/null`
        for i in $chains; do iptables -t $i -F; done
        for i in $chains; do iptables -t $i -X; done
}

stop()
{
	# Lock us down.
	panic
}

acceptall() 
{
        echo -n "Resetting built-in chains to the default ACCEPT policy:"
	flushall
	((ExitRC=0))
	while read line
	do
		$line || ((ExitRC=8))
	done <<-ENDSTOP
	iptables -P INPUT ACCEPT
	iptables -P OUTPUT ACCEPT
	iptables -P FORWARD ACCEPT
	iptables -t nat -P PREROUTING ACCEPT
	iptables -t nat -P POSTROUTING ACCEPT
	iptables -t nat -P OUTPUT ACCEPT
        iptables -t mangle -P PREROUTING ACCEPT
        iptables -t mangle -P OUTPUT ACCEPT
ENDSTOP
	# Remember status and be verbose
	[[ $ExitRC -eq 0 ]]		# Set $?.
	rc_status -v
}

panic() {
	flushall
	echo -n "Changing target policies to DROP: "	
	iptables -P INPUT DROP && \
	    iptables -P FORWARD DROP && \
	    iptables -P OUTPUT DROP && \
	    iptables -t nat -P PREROUTING DROP && \
	    iptables -t nat -P POSTROUTING DROP && \
	    iptables -t nat -P OUTPUT DROP && \
	    iptables -t mangle -P PREROUTING DROP && \
	    iptables -t mangle -P OUTPUT DROP && \
	    iptables -A INPUT -i lo0 -j ACCEPT && \
	    iptables -A OUTPUT -o lo0 -j ACCEPT && \
	    iptables -A INPUT -s 50.43.121.70  -p tcp --destination-port 22 -j ACCEPT && \
	    iptables -A INPUT -s 50.43.121.69  -p tcp --destination-port 22 -j ACCEPT && \
	    success "Changing target policies to DROP" || \
	    failure "Changing target policies to DROP"
	echo
	return 8		# Panic is always an error.
}

# First reset status of this service
rc_reset

case "$1" in
  start)
	echo -n "Loading IPTables"
	flushall
	/usr/local/sbin/load-iptables -q || panic
	# Remember status and be verbose
	rc_status -v
	;;
  stop)
	stop
	;;
  acceptall) 
	acceptall
	;;
  restart)
	# "restart" is really just "start" as this isn't a daemon,
	#  and "start" clears any pre-defined rules anyway.
	#  This is really only here to make those who expect it happy
	start
	;;

  condrestart)
	[ -e /var/lock/subsys/iptables ] && start
	;;

  status)
	echo "Table: filter"
	iptables --list
	echo "Table: nat"
	iptables -t nat --list
	echo "Table: mangle"
	iptables -t mangle --list
	;;

  panic)
	panic
        ;;
  *)
	echo "Usage: $0 {start|stop|restart|acceptall|status|panic}"
	exit 1
esac

exit 0

