#!/bin/sh
#
# Startup script for psad
#
### BEGIN INIT INFO
# Description: The Port Scan Attack Detector (psad)
# processname: psad
# pidfile: /var/run/psad.pid
# config: /etc/psad/psad.conf
# Provides: psad
# Required-Start: iptables
# Required-Stop:
# Default-Start: 2 3 5
# Default-Start: 0 1 6
### END INIT INFO
#
# $Id: psad-init.generic 1211 2004-10-10 20:44:52Z mbr $

restart() {
    $0 stop
    $0 start
}

# See how we were called.
case "$1" in
start)
    echo -n "Starting psad: "
    ### psad enables signature matching and auto
    ### danger level assignment by default, so
    ### command line args are not necessary here.
    /usr/sbin/psad
    echo
    ;;
stop)
    /usr/sbin/psad --Kill
    ;;
status)
    /usr/sbin/psad --Status
    ;;
restart)
    restart
    ;;
*)
    echo "Usage: psad {start|stop|status|restart}"
    exit 1
esac
