[Unit]
Description=Electronic Log Daemon (elogd)
After=multi-user.target

[Service]
ExecStart=/usr/local/sbin/elogd -c /usr/local/elog/elogd.cfg
Type=simple

[Install]
WantedBy=multi-user.target
Requires=network.target
